.DS_Store
.idea
.ipynb_checkpoints
.gradio
*.swp
*.pyc
__pycache__
*.tar*
*.zip
*.pkl
*.pyc
*.bak
*.png
*.deb

.isort.cfg
.pre-commit-config.yaml

dataset_stats
debug*
locks
checkpoints
pretrained_checkpoint
./models
models
results
wandb
tmp*
env*
