#accelerate
#diffusers
facexlib
#httpcore==1.0.7
#httpx==0.28.1
#huggingface-hub==0.28.1
insightface
#numpy
onnxruntime-gpu
opencv-python
pillow
pillow-avif-plugin
pillow-heif
#sentencepiece==0.2.0
#torch==2.2.1
#torchvision==0.17.1
#transformers==4.48.0
#peft==0.14.0
azure-storage-blob
dapr
dapr-ext-grpc
cachetools
types-cachetools
azure-identity